<head>
   <style>@font-face { font-family: laser; src: url("laser.ttf")}</style>
   <style>@font-face { font-family: neon; src: url("neon.ttf")}</style>
</head>

<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <h1 class="logo">New Wave Slaves</h1>
    </div>
    <div class="row">
      <div class="col-md-10">
        <span class="header-links">{{#link-to 'index'}}Home{{/link-to}}</span> &nbsp; \\ &nbsp; <span class="header-links">{{#link-to 'contact'}}Contact{{/link-to}}</span>&nbsp; \\ &nbsp; <span class="header-links">{{#link-to 'about'}}About{{/link-to}}</span>
      </div>
      <div class="col-md-2">
        <span class="header-links">{{#link-to 'admin'}}Admin{{/link-to}}</span>
      </div>
    </div>
  </div>
</header>

<body>

  <div class="main-container container">

    {{outlet}}

  </div>

</body>

<!-- <footer class="navbar navbar-fixed-bottom">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
  </div>
</footer> -->
